h1 {
      text-align: center;
      letter-spacing: 1px;
    }
    
    .hero {
     background-image: url("../img/images/blackbord.jpg");
     display: flex;
     justify-content: center;
     align-items: center;
     width: fixed;
     height: auto;
    }
    
    .hero img {
      padding: 1em;
      width: 150px;
      border-radius: 50%;
    }
    
    .hero h1 {
      width: 100%;
      font-size: 3.5em;
      background-image: linear-gradient(to left, black, gold, rgb(255, 255, 255) ,gold , black );
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      color: transparent;
    }
    
    